.fafr-logo {
    background-image: url('img/helmet.png');
    width: 140px;
    height: 107px;
}
.news-title {
    font-size: 16px;
}
.news-main {
    display: block;
    position: relative;
}
.news-main_img {
    width: 100%;
}
.news-main_title {
    font-size: 26px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    bottom: 80px;
    left: 22px;
    font-weight: bold;
}
.main-addLink {
    margin-bottom: 15px;
    display: inline-block;
}
.material-content {
    margin-bottom: 10px;
    overflow: hidden;
}
.material-date {
    color: #aaaaaa;
    font-style: italic;
}
.material-editTitle {
    font-size: 16px;
    margin-bottom: 10px;
    width: 500px;
}
.material-editPreview {
    height: 60px;
    margin-bottom: 10px;
}
.material-editContent {
    margin-bottom: 10px;
    height: 400px;
}
.listview-item {
    padding: 5px 0;
    border-top: 1px solid #cccccc;
    margin-bottom: 2px;
}
.datagrid {
    font-size: inherit;
    width: 100%;
    border-collapse: collapse;
}
.datagrid_zebra .datagrid_tbody td {
    border-top: 1px solid #cccccc;
    padding: 5px 0;
}
.federation-faceItem {
    overflow: hidden;
    margin-bottom: 33px;
}
.federation-faceAvatar {
    width: 110px;
    height: 110px;
    box-sizing: border-box;
    float: left;
    border-radius: 55px;
    overflow: hidden;
    border: 8px solid #0071bc;
}

.federation-faceAvatar .main-noPhoto {
    width: 110px;
    height: 110px;
    line-height: 110px;
    font-size: 110px;
    margin: -8px;
}
.federation-faceAvatar img{
    margin: -8px;
}

.federation-faceInfo {
    margin: 26px 0 0 147px;
}
.federation-faceFio {
    font-size: 15px;
    text-transform: uppercase;
}
.federation-workField {
    display: none;
}
.federation-itemUser {
    color: #999999
}
.federation-itemUser .federation-itemWork{
    display: none;
}
.federation_contactsTable {
    border-collapse: collapse;
    width: 620px;
}
.federation-contactField {
    width: 190px;
    margin-right: 10px;
}
.federation-partAddForm {
    display: none;
}
.main-noPhoto {
    background: #cccccc;
    font-size: 150px;
    width: 200px;
    height: 200px;
    color: #aaaaaa;
    text-align: center;
    line-height: 200px;
}
a {
    color: #000083;
}
.federation-regions-item {
    overflow: hidden;
    margin-bottom: 2px;
    font-size: 13px;
}
.federation-regions-logo {
    float: left;
    width: 95px;
    height: 95px;
    padding: 5px;
    overflow: hidden;
    background-color: #e0e0e0;
    box-sizing: border-box;
}
.federation-regions-logo .main-noPhoto {
    width: 85px;
    height: 85px;
    line-height: 85px;
    font-size: 85px;
}
.federation-regions-name {
    margin-left: 97px;
    margin-right: 292px;
    background-color: #e0e0e0;
    height: 95px;
    padding: 0 13px;
    box-sizing: border-box;
}
.federation-regions-count {
    width: 290px;
    float: right;
    background-color: #e0e0e0;
    height: 95px;
}
.federation-regions-fullname {
    font-size: 11px;
    padding: 20px 0 5px 0;
    box-sizing: border-box;
}
.federation-regions-abbr {
    font-weight: bold;
}
.federation-regions-count {
    padding-top: 20px;
    box-sizing: border-box;
}
.federation-regions-cell {
    display: inline-block;
}
.federation-regions-cellTitle {
    width: 83px;
    padding-left: 13px;
    box-sizing: border-box;
}
.federation-regions-cellCountTitle {
    width: 65px;
    text-align: center;
}
.federation-regions-cellCount {
    font-weight: bold;
    width: 65px;
    text-align: center;
}
.main-auth_form {
    float: right;
    width: 245px;
    margin-top: -43px;

}
.main-auth_form a {
    color: #fff;
}
/*Регистрация*/
.main-file {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: 1px solid #20232C;
    overflow: hidden;
    position: relative;
}
.main-file_label {
    width: calc(100% - 2px);
    height: 100%;
    text-align: center;
}
.main-file_input {
    display: none;
}
.main-file_miniature {
    width: 100%;
}
.main-file_simple_loaded {
    background-color: #cccccc;
}
.main-fileMiniature {
    position: absolute;
    display: block !important;
    visibility: visible !important;
}

.reg-leftCol {
    float: left;
    width: 220px;
}
.reg-rightCol {
    margin-left: 250px;
}
.reg-field {
    width: 320px;
    height: 36px;
    line-height: 36px;
    display: block;
    margin-bottom: 5px;
}
.reg-block {
    overflow: hidden;
    margin-bottom: 10px;
}
.reg-firstList {
    float: left;
    width: 350px
}
.reg-secondList {
    margin-left: 368px;
}
.reg-referree_link {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    cursor: pointer;
}
.reg-block_referree {
    display: none;
}

.reg-autofio{
    font-size: 15px;
    font-style: italic;
}
.reg-teamlogo_v {
    margin-top: 10px;
    height: 36px;
}
.reg-teamOGRN {
    width: 320px;
    height: 36px;
}
.reg-humanCheckbox {
    position: absolute;
    top: -10000px;
    left: -10000px;
}
.main-popup {
    position: absolute;
    width: 400px;
    max-height: 300px;
    overflow-y: auto;
    background: #ffffff;
    border: 2px solid #999999;
    border-radius: 4px;
    z-index: 100;
}
.main-window {
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    background: #dedede;
    left: 50%;
    top: 50%;
    display: none;
    box-shadow: 0 0 15px #000000;
    z-index: 100;
}
.roster-playerWin {
    width: 700px;
    height: 500px;
    margin-top: -250px;
    margin-left: -350px;

}
.ac-item {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}
.ac-item:hover {
    background-color: #cccccc;
}
.main-crop {
    width: 750px;
    max-height: 750px;
    height: 750px;
    left: 50%;
    margin-left: -375px;
    top: 50%;
    margin-top: -375px;
    text-align: center;
}
.main-crop_img {
    top: 50px;
    left: 50px;
}
.main-crop_cancel {
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.main-crop_ok {
    position: absolute;
    right: 100px;
    bottom: 30px;
}
.main-crop_imgWrapper {
    position: relative;
    margin: 50px 0 0 50px;
}
.main-valid_error {
    border: 1px solid red !important;
    background-color: #ffc9b8 !important;
}
.main-validWin {
    position: absolute;
    width: auto;
    height: 20px;
    border: 1px solid red;
    background: #ffffff;
    box-shadow: 0 0 12px 1px red;
    color : red;
    font-size :12px;
    padding: 5px;
    line-height: 20px;
}
/*конец стилей, нужных для регистрации*/