* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
.fafr-bg_light {
    background-color: #E6E6E6;
    color: #15222b;
}
.fafr-bg_dark {
    background: #15222b;
    color: #fff;
}
.fafr-bg_accent {
    background: #D0202D;
    color: #fff;
}
.fafr-body {
    font-size: 14px;
    font-family : Roboto, sans-serif;
    overflow-y: scroll;
    height: 100%;
}
.fafr-width {
    min-width: 1000px;
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
}
.fafr-wrapper {
    min-height: 100%;
    background: #fff;
}
.fafr-header {
    height: 80px;
}
.fafr-header_title {
    text-transform: uppercase;
}
.fafr-navigation {
    height: 40px;
}
.fafr-navigation__list {
    margin-left: 160px;
}
.fafr-navigation__point {
    list-style: none;
    float: left;
}
.fafr-navigation__link {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 140px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.fafr-navigation__link__second {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 140px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.fafr-footerplace {
    height: 240px;
}
.fafr-footer {
    margin-top: -240px;
    height: 240px;
}





.fafr-h1 {
    font-size: 28px;
    font-weight: bold;
}

.fafr-h2 {
    font-size: 18px;
    font-weight: bold;
}