* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
.fafr-text {
    font-weight: normal;
    color: #15222b;
    font-size: 14px;
    font-family : Roboto, sans-serif;
}
.fafr-textColor {
    color: #15222b;
    text-decoration: none;
}
.fafr-textAdd {
    font-weight: normal;
    color: #a9acb5;
}
.fafr-bg_light {
    background-color: #E6E6E6;
    color: #15222b;
}
.fafr-bg_dark {
    background: #252F4E;
    color: #fff;
}
.fafr-bg_accent {
    background: #D0202D;
    color: #fff;
}
.fafr-bg_accent {
    color: #fff;
}
.fafr-lightColor {
    color: #fff;
}
.fafr-rightAl {
    text-align: right;
}
.fafr-centerAl {
    text-align: center;
}
.fafr-middleValign {
    vertical-align: middle;
}
.fafr-body {
    overflow-y: scroll;
    height: 100%;
}
.fafr-minWidth {
    min-width: 1000px;
}
.fafr-maxWidth {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.fafr-wrapper {
    min-height: 100%;
    background: #fff;
    position: relative;
}
.fafr-logo {
    position: absolute;
    top: 25px;
    left: 0;
}
.fafr-header {
    height: 80px;
}
.fafr-header_title {
    padding: 23px 0 0 140px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.fafr-header_title_sub {
    font-size: 12px;
    color: #A9ACB5;
    font-weight: normal;
    padding-top: 4px;
}
.fafr-navigation {
    height: 40px;
}
.fafr-navigation__list {
    overflow: hidden;
    margin-left: 140px;
}
.fafr-navigation__point {
    list-style: none;
    float: left;
}
.fafr-navigation__link {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 140px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.fafr-navigation__link__second {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 140px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border-bottom: 3px solid transparent;
    box-sizing: border-box;
}
.fafr-navigation__link__second__selected {
    border-color: #15222b;
}
.fafr-content {
    box-sizing: border-box;
    padding: 55px 0 0 0;
}

.fafr-footerplace {
    height: 240px;
}
.fafr-footer {
    margin-top: -240px;
    height: 240px;
    position: relative;
}

.fafr-login {
    position: absolute;
    top: 25px;
    right: 50px;
}
.fafr-login_btn {
    display: inline-block;
    width: 70px;
    height: 30px;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 15px;
    line-height: 30px;
    cursor: pointer;
    box-sizing: border-box;
}
.fafr-login_form {
    width: 400px;
    height: 286px;
    position: absolute;
    z-index: 10;
    top: 10px;
    left: -500px;
    background: #fff;
}
.fafr-login_header {
    height: 60px;
    padding: 20px 40px;
    box-sizing: border-box;
}
.fafr-login_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    float: left;
    width: 100%;
}
.fafr-login_close {
    float: left;
    width: 22px;
    height: 22px;
    margin-top: -1px;
    margin-left: -22px;
    cursor: pointer;
    background: url('img/close.png');
}
.fafr-login_content {
    padding: 10px 40px;
}
.fafr-login_fieldWrapper {
    margin-bottom: 10px;
}
.fafr-login_input {
    width: 100%;
}

.fafr-h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 60px;
}

.fafr-h2 {
    font-size: 18px;
    font-weight: bold;
}

.fafr-input {
    height: 48px;
    font-size: 14px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #eaeaea;
    outline: none;
    line-height: 48px;
}
.fafr-input:focus {
    border-width: 2px;
    border-color: #252F4E;
}
.fafr-input::-webkit-input-placeholder {color:#A9ACB5}
.fafr-input::-moz-placeholder          {color:#A9ACB5}/* Firefox 19+ */
.fafr-input:-moz-placeholder           {color:#A9ACB5}/* Firefox 18- */
.fafr-input:-ms-input-placeholder      {color:#A9ACB5}

.fafr-btn {
    background: #fff;
    border: 1px solid;
    width: 140px;
    height: 40px;
    line-height: 40px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
}
.fafr-btn:hover {
    border-width: 2px;
    line-height: 38px;
}
.fafr-btn:active {
    color: #fff;
}
.fafr-btn_standart {
    color: #252F4E;
    border-color: #252F4E;
}
.fafr-btn_standart:active {
    background-color: #252F4E;
}

.fafr-btn_primary {
    color: #ED3237;
    border-color: #ED3237;
}
.fafr-btn_primary:active {
    background-color: #ED3237;
}
.fafr-link {
    color: #ED3237;
    text-decoration: underline;
}
.fafr-backLink {
    display: inline-block;
    margin-top: -45px;
}
.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.fafr-noPhoto {
    background: #cccccc;
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: #aaaaaa;
    text-align: center;
    line-height: 20px;
}
.fafr-hidden {
    display: none;
}
.fafr-standartPadding {
    padding-bottom: 15px;
}


/*news*/
.news-last {
    padding: 60px 0 60px 0;
    overflow: hidden;
    margin: 0 0 60px 0;
}
.news-last_img {
    width: 66%;
    float: left;
    position: relative;
}
.news-last_img .fafr-noPhoto {
    font-size: 400px;
    line-height: 400px;
    max-height: 400px;
}
.news-last_text {
    margin-left: 68%;
}
.news-last_title {
    font-size: 28px;
    line-height: 33px;
    font-weight: bold;
}
.news-last_title a {
    text-decoration: none;
    color: #fff;
}
.news-last_desc {
    padding-top: 40px;
    font-size: 18px;
    line-height: 30px;
}
.news-date {
    padding: 5px 10px;
    position: absolute;
    box-sizing: border-box;
    border-radius: 0 11px 11px 0;
}
.news-date_last {
    bottom: 40px;
}
.news-tiles {
    overflow: hidden;
    margin-bottom: 60px;
}
.news-tile {
    padding: 0 15px;
    box-sizing: border-box;
    width: 33%;
    float: left;
}
.news-tile_center {
    width: 34%;
}
.news-date_tile {
    bottom: 20px;
}
.news-tile_img {
    position: relative;
}
.news-tile_img .fafr-noPhoto {
    line-height: 185px;
    font-size: 185px;
    max-height: 185px;
}
.news-tile_text {
    padding-top: 23px;
}
.news-tile_title {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}
.news-tile_title a{
    color: #15222b;
    text-decoration: none;
}
.news-tile_desc {
    padding-top: 9px;
    line-height: 23px;
}
.news-list_item {
    border-top: 1px solid #eaeaea;
    padding: 8px 0 20px 0;
}
.news-list_title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}
.news-list_desc {
    line-height: 23px;
    margin-bottom: 3px;
}
.feed-container {
    overflow: hidden;
    height: 402px;
}
.feed-main {
    position: relative;
}
.feed-date_main {
    left: 0;
    top: -40px;
}
.feed-main_withCol {
    margin-right: 33%;
}
.feed-column {
    float: right;
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.feed-column_item {
    height: 33%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 20px 10px;
    position: relative;
}
.feed-column_gradient {
    position: absolute;
    bottom: 0;
    height: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 50%);
    z-index: 1;
    left: 0;
    right: 0;
}
.feed-link {
    position: absolute;
    right: 0;
}
.feed-column_item {
    height: 34%;
}
.feed-main_img {
    height: 100%;
}
.feed-main_img .fafr-noPhoto {
    font-size: 400px;
    line-height: 400px;
}
.feed-main_text {
    background: rgba(21, 34, 43, 0.7);
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px 20px;
}
.feed-main_title {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}
.feed-main_title a{
    text-decoration: none;
}
.feed-main_desc {
    padding-top: 5px;
}
.feed-column_title {
    padding-top: 8px;
    line-height: 21px;
}
.feed-column_desc {
    padding-top: 4px;
    line-height: 23px;
}

.material-content {
    padding: 20px 0;
    font-size: 16px;
}
.material-delForm {
    display: inline-block;
}

.fafr-paging {
    font-size: 0;
}
.fafr-paging_item {
    display: inline-block;
    padding: 0 5px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
}
.fafr-paging_item:hover {
    text-decoration: underline;
}