h2 {
   font-size: 20px;
}
input[type=text],input[type=password], input[type=number], textarea, select{
   width: 100%;
}
table {
   font-size: 13px;
}
.main-crop {
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   margin-left: 0;
   margin-top : 0;
   max-height: 100%;
}
.main-crop_imgWrapper {
   margin: 0;
}
.main-crop_img {
   top: 0;
   left: 0;
}
.main-crop_ok, .main-crop_cancel {
   z-index: 1000;
}

.main-wrapper {
   max-width: 800px;
   min-width: 320px;
   margin: 0 auto;
}
.main-min-width {
   width: 100%;
}
.main-content {
   padding: 5px 10px 0 10px;
}
.main-auth_expanded {
   height: auto;
}
.main-auth_form {
   margin-right: 0;
   float: none;
}
.main-auth_header {
   height: 30px;
}
.main-navigation {
   width: 100%;
   position: absolute;
   z-index: 10;
}
.main-navigation__link{
   height: 50px;
   font-size: 20px;
   line-height: 50px;
   display: block;
   box-sizing: border-box;
   padding: 0 20px;
   color: #20232C;
}
.main-navigation__link:hover{
   text-decoration: none;
}
.main-header {
   height: 50px;
}
.main-header_title {
   font-size: 11px;
   margin-top: 19px;
   padding: 0 50px 0 10px;
}
.main-logo {
   margin-left: 0;
   width: 50px;
   height: 50px;
   text-align: center;
   padding: 0;
}
.main-logo_img {
   width: 50px;
}
.main-navbar {
   position: absolute;
   width: 50px;
   right: 0;
   top: 0;
   z-index: 2;
}
.main-navigation__list {
   background: #fff;
   border-bottom: 2px solid #20232C;
}
.main-navShowPanel {
   width: 50px;
   height: 50px;
   display: block;
   box-sizing: border-box;
   background: url('img/burger_s.png?4') center center;
}
.main-navShowPanel:active {
   background-color: #2c4d7f;
}
.comp-resultsTable {
   display: block;
}
.comp-resultsTable_match {
   width: calc(20% - 1px) ;
   margin-left: 1px;
   height: 80px;
}
.comp-resultsTable_score {
   font-size: 18px;
}
.comp-resultsTable_datetime{
   font-size: 10px;
}
.comp-resultsTable_row {
   line-height: 23px;
}
.comp-resultsTable_team{
   font-size: 14px;
}
/**/
.main-columnItem {
   width: 100%;
   padding: 0 0 10px 0;
}
.team-clName {
   font-size: 16px;
}
.team-clLinks {
   padding-right: 5px;
}
.team-divName {
   padding: 0;
}
/**/
.refereecomp-dellink_m {
   float: right;
}
/**/
.match-timeField {
   width: 28px !important;
}
.match-list_value {
   font-size: 15px;
}
.match-list_value {
   width: 24px;
   overflow: hidden;
}
.match-list_footerItemLeft {
   font-size: 11px;
}
.match-list_team {
   white-space: nowrap;
   font-size: inherit;
   max-width: 74%;
}
.top10_column_2 {
   float: none;
   width: 100%;
}
.main-avatar {
   width: 100px;
   height: 100px;
}
.main-navig2_link {
   display: block;
   margin: 0 0 10px 0;
}
.action-person, .action-pointsget, .action-team {
   width: 100%;
}
.match_maintable_header {
   text-align: center;
}
.match_maintable td {
   padding: 2px;
}
.match-point_delLink {
   float: right;
}
.reg-leftCol {
   float: none;
   width: 100%;
   margin-bottom: 10px;
}
.reg-leftCol .main-file{
   width: 100px;
   height: 100px;
}
.reg-rightCol {
   margin-left: 0;
}
.reg-firstList {
   float: none;
   width: 100%;
}
.reg-secondList {
   margin-left: 0;
}
.reg-field, .reg-teamOGRN {
   width: 100%;
   box-sizing: border-box;
}


.federation-columns .federation-logo {
   float: none;
}
.federation-logo {
   width: 100px;
   height: 100px;
}
.federation-logo .main-noPhoto{
   width: 100px;
   height: 100px;
   line-height: 100px;
   font-size: 100px;
}
.federation-mainInfo {
   margin-left: 0;
   padding: 10px 0;
}
.match-matchroster_fioinput {
   white-space: nowrap;
}
.match-matchroster_numberinput, .match-matchroster_numberinputAdd {
   width: 30px !important;
}
.match-matchroster_player {
   font-size: 11px;
}
.roster-growth, .roster-weight {
   width: 36px !important;
}
.roster-addForm input, .roster-addForm select {
   margin-bottom: 5px;
}
.roster-list, .roster-item {
   display: block;
}
.roster-itemContent {
   display: inline-block;
   width: auto;
   border-top-width: 0;
}
.roster-item {
   border-top: 1px solid #cccccc;
   overflow: hidden;
}
.roster-itemCtrl {
   float: right;
}
.roster-itemFio {
   font-size: 14px;
}
.roster-itemCheckbox, .roster-choose_mainCheckbox {
   display: none;
}
.roster-itemConfirm {
   width: 24px;
   float: left;
}
.roster-confirm{
   width: 24px;
   height: 24px;
   top: 0;
}
.roster-confirm:not(.roster-confirm_1) {
   border: 1px dotted #ccc;
}

.po-name {
   display: none;
}
.po-match {
   width: 90%;
}
.po-date {
   font-size: 11px;
}

.po-count {
   font-size: 20px;
}