h2 {
   font-size: 20px;
}
input[type=text],input[type=password], input[type=number], textarea, select{
   width: 100%;
}
.main-wrapper {
   max-width: 800px;
   min-width: 320px;
   margin: 0 auto;
}
.main-min-width {
   width: 100%;
}
.main-content {
   padding: 5px 10px 0 10px;
}
.main-auth_expanded {
   height: auto;
}
.main-auth_form {
   margin-right: 0;
   float: none;
}
.main-navigation {
   width: 100%;
   position: absolute;
   z-index: 10;
}
.main-navigation__link{
   height: 50px;
   font-size: 20px;
   line-height: 50px;
   display: block;
   box-sizing: border-box;
   padding: 0 20px;
   color: #20232C;
}
.main-navigation__link:hover{
   text-decoration: none;
}
.main-header {
   height: 50px;
}
.main-header_title {
   font-size: 11px;
   margin-top: 19px;
   padding-right: 50px;
}
.main-logo {
   margin-left: 0;
   width: 50px;
   height: 50px;
   text-align: center;
   padding: 0;
}
.main-logo_img {
   width: 50px;
}
.main-navbar {
   position: absolute;
   width: 50px;
   right: 0;
   top: 0;
   z-index: 2;
}
.main-navigation__list {
   background: #fff;
   border-bottom: 2px solid #20232C;
}
.main-navShowPanel {
   width: 50px;
   height: 50px;
   display: block;
   box-sizing: border-box;
   background: url('img/burger_s.png?4') center center;
}
.main-navShowPanel:active {
   background-color: #2c4d7f;
}
.comp-resultsTable {
   display: block;
}
.comp-resultsTable_match {
   float: none;
   margin: 0 0 10px 0;
   width: 100%;
}
.comp-resultsTable_datetime{
   font-size: 14px;
}
.comp-resultsTable_team{
   font-size: 14px;
}
/**/
.main-columnItem {
   width: 100%;
   padding: 0 0 10px 0;
}
.team-clName {
   font-size: 16px;
}
.team-clLinks {
   padding-right: 5px;
}
.team-divName {
   padding: 0;
}
/**/
.refereecomp-dellink_m {
   float: right;
}
/**/
.match-timeField {
   width: 28px !important;
}
.match-list_value {
   font-size: 15px;
}
.match-list_team {
   font-size: inherit;
}
.match-list_value {
   width: 24px;
   overflow: hidden;
}
.match-list_footerItemLeft {
   font-size: 11px;
}
.match-list_team {
   white-space: nowrap;
}
.top10_column_2 {
   float: none;
   width: 100%;
}