.fafr-logo {
    background-image: url('img/logo.png');
    width: 120px;
    height: 124px;
}


/*TODO old*/
.main-auth_form {
    float: right;
    width: 245px;
    margin-top: -60px;

}
.main-auth_form a {
    color: #fff;
}
/*TODO*/



.comp-teamList {
    margin: -40px 0 60px 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.comp-teamList_item {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.comp-teamList_img {
    width: 100%;
    height: 100%;
}

.comp-resultsTable {
    display: flex;
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: space-between;
}
.comp-resultsTable_match {
    width: 19%;
    box-sizing: border-box;
    display: block;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

.comp-resultsTable_match:hover {
    text-decoration: none;
}
.comp-resultsTable_header {
    font-size: 12px;
    min-height: 20px;
    line-height: 20px;
    padding: 0 10px;
}
.comp-resultsTable_datetime {
    font-weight: bold;
}
.comp-resultsTable_content {
    padding: 10px 10px 0 10px;
    color: #15222b;
    border: 1px solid #eaeaea;
    border-top: none;
}
.comp-resultsTable_row {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}
.comp-resultsTable_logo {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.comp-resultsTable_score {
    font-size: 18px;
    text-align: right;
}
.comp-resultsTable_team {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    line-height: 30px;
}
.comp-resultsTable_team_big {
    text-transform: uppercase;
}


/*team list*/
.comp-columnsHeader {
    clear: left;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 40px;
}
.comp-columnItem {
    float: left;
    clear: left;
    width: 50%;
    padding: 0 40px 40px 0;
    box-sizing: border-box;
    display: block;
}
.comp-columnItem_content {
    border: 1px solid #eaeaea;
    overflow: hidden;
    position: relative;
}
.comp-columnContentLink {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.comp-columnItem_odd {
    padding: 0 0 40px 40px;
    clear: none;
}

.comp-teamTile_logo {
    float: left;
    width: 140px;
    padding: 20px;
}
.comp-teamTile_logo .fafr-noPhoto{
    font-size: 140px;
    line-height: 140px;
}
.comp-teamTile_logoLink {
    display: block;
    text-decoration: none;
}
.comp-teamTile_info {
    margin-left: 250px;
    padding-top: 20px;
}
.comp-teamTile_city {
    font-size: 18px;
    padding-top: 25px;
    display: block;
}
.comp-teamTile_name {
    font-size: 26px;
    display: block;
}
.comp-teamTile_label {
    padding-top: 15px;
    display: block;
}
/*calendar*/
.comp_groupSelector {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 18px;
}
.comp_groupSelector_label {
    height: 40px;
    line-height: 40px;
    padding-right: 90px;
    float: left;
}
.comp_groupSelector_dropdown {
    width: 140px;
}
.calendar-dateHeader {
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 1px solid #15222B;
}
.calendar-item_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.calendar-item_logo {
    width: 50px;
    height: 50px;
    display: inline-block;
}
.calendar-item_logo .fafr-noPhoto {
    font-size: 50px;
    line-height: 50px;
}
.calendar-item_left {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.calendar-item_right {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.calendar-item_team {
    font-size: 18px;
    padding-top: 10px;
}
.calendar-item_center {
    width: 70%;
    text-align: center;
}
.calendar-item_count {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.calendar-item_digit {
    font-size: 28px;
    width: 70px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    height: 40px;
}
.calendar-item_info {
    height: 60px;
    font-size: 12px;
    padding-top: 10px;
    box-sizing: border-box;
}