.fafr-logo {
    background-image: url('img/logo.png');
    width: 120px;
    height: 124px;
}


/*TODO old*/
.main-auth_form {
    float: right;
    width: 245px;
    margin-top: -60px;

}
.main-auth_form a {
    color: #fff;
}
/*TODO*/



.comp-teamList {
    margin: -40px 0 20px 165px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.comp-teamList_item {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.comp-teamList_img {
    width: 100%;
    height: 100%;
}

.comp-resultsTable {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 20px;
}
.comp-resultsTable_match {
    width: 19%;
    box-sizing: border-box;
    display: block;
    text-transform: none;
    text-decoration: none;
    text-align: left;
}

.comp-resultsTable_match:hover {
    text-decoration: none;
}
.comp-resultsTable_header {
    font-size: 12px;
    min-height: 20px;
    line-height: 20px;
    padding: 0 10px;
}
.comp-resultsTable_datetime {
    font-weight: bold;
}
.comp-resultsTable_content {
    padding: 10px 10px 0 10px;
    color: #15222b;
    border: 1px solid #eaeaea;
    border-top: none;
}
.comp-resultsTable_row {
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: baseline;
    align-items: baseline;
    margin-bottom: 10px;
}
.comp-resultsTable_logo {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.comp-resultsTable_score {
    font-size: 18px;
    text-align: right;
}
.comp-resultsTable_team {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    line-height: 30px;
}
.comp-resultsTable_team_big {
    text-transform: uppercase;
}
.comp-leaders {
    margin-bottom: 40px;
    position: relative;
}
.comp-leaders_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.comp-leaders_link {
    top: 27px;
}
.comp-leaders_item {
    width: 70px;
}
.comp-leaders_content {
    height: 70px;
    overflow: hidden;
    border-top: 2px solid #fff;
}
.comp-leaders_item .fafr-noPhoto {
    line-height: 70px;
    font-size: 70px;
}
.comp-leaders_sign {
    white-space: nowrap;
    font-size: 12px;
    min-height: 20px;
    line-height: 20px;
    text-align: center;
}

/*team list*/
.comp-columnsHeader {
    clear: left;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 40px;
}
.comp-columnItem {
    float: left;
    clear: left;
    width: 50%;
    padding: 0 40px 40px 0;
    box-sizing: border-box;
    display: block;
}
.comp-columnItem_content {
    border: 1px solid #eaeaea;
    overflow: hidden;
    position: relative;
}
.comp-columnContentLink {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.comp-columnItem_odd {
    padding: 0 0 40px 40px;
    clear: none;
}

.comp-teamTile_logo {
    float: left;
    width: 140px;
    height: 140px;
    padding: 20px;
}
.comp-teamTile_logo .fafr-noPhoto{
    font-size: 140px;
    line-height: 140px;
}
.comp-teamTile_logoLink {
    display: block;
    text-decoration: none;
}
.comp-teamTile_info {
    margin-left: 250px;
    padding-top: 20px;
}
.comp-teamTile_city {
    font-size: 18px;
    padding-top: 25px;
    display: block;
}
.comp-teamTile_name {
    font-size: 26px;
    display: block;
}
.comp-teamTile_label {
    padding-top: 15px;
    display: block;
}
/*calendar*/
.comp_groupSelector {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: baseline;
    align-items: baseline;
    padding-bottom: 18px;
}
.comp_groupSelector_label {
    height: 40px;
    line-height: 40px;
    padding-right: 90px;
    float: left;
}
.comp_groupSelector_dropdown {
    width: 140px;
}
.calendar-dateHeader {
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 1px solid #15222B;
}
.calendar-item_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.calendar-item_logo {
    width: 50px;
    height: 50px;
    display: inline-block;
}
.calendar-item_logo .fafr-noPhoto {
    font-size: 50px;
    line-height: 50px;
}
.calendar-item_left {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.calendar-item_right {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.calendar-item_team {
    font-size: 18px;
    padding-top: 10px;
}
.calendar-item_center {
    width: 70%;
    text-align: center;
}
.calendar-item_count {
    padding-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.calendar-item_digit {
    font-size: 28px;
    width: 70px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    height: 40px;
}
.calendar-item_info {
    height: 60px;
    font-size: 12px;
    padding-top: 10px;
    box-sizing: border-box;
}

/*список судей*/
.referee-list {
    overflow: hidden;
}
.referee-item {
    float: left;
    width: 33%;
    padding-bottom: 40px;
}
.referee-item_content {
    position: relative;
    overflow: hidden;
}
.referee-clAvatar {
    width: 140px;
    height: 140px;
    float: left;
}
.referee-clAvatar .fafr-noPhoto {
    font-size: 140px;
    line-height: 140px;
}

.referee-item_info {
    padding: 15px 0 0 40px;
    margin-left: 140px;
}

.referee-fio {
    font-size: 18px;
    padding-bottom: 10px;
}

/*stats*/
.stats-item_zebra {
    background-color: rgba(37, 47, 78, 0.1)
}
.stats_maintable, .stats-table {
    width: 100%;
    border-collapse: collapse;
}
.stats-table {
    margin-bottom: 60px;
}
.stats-table tr:hover td {
    background-color: rgba(37, 47, 78, 0.1);
}
.stats-fullListLink {
    float: right;
}
.stats-navHeader {
    margin-right: 300px;
}
.stats-personTeamLogoDesk {
    display: inline-block;
}
.stats-table .datagrid_tbody td, .stats-table th {
    padding: 5px 5px;
}
.stats-personTeamLogo {
    display: none;
}
.stats-item_total {
    font-weight: bold;
}
/*about*/
.comp-about_info {
    overflow: hidden;
}
.comp-about_logo {
    float: right;
    width: 340px;
    height: 340px;
    margin: 0 80px 0 0;
}

.comp-about_logo .fafr-noPhoto{
    font-size: 340px;
    line-height: 340px;
}
.comp-about_text {
    margin-right: 545px;
}
.comp-about_desc {
    font-size: 18px;
    line-height: 30px;
}
.comp-about_label {
    font-weight: bold;
}
.comp-about_phone {
    padding: 10px 200px 0 0;
    display: inline-block;
}
.comp-about_address {
    padding-top: 30px;
}
.comp-persons {
    margin: 50px 0;
    padding: 0 0 40px 0;
}
.comp-persons_list {
    overflow: hidden;
}
.comp-persons_item {
    float: left;
    width: 33%;
    overflow: hidden;
    margin-bottom: 40px;
}
.comp-persons_photo {
    float: left;
    width: 140px;
    height: 140px;
    background: #fff;
}
.comp-persons_photo .fafr-noPhoto {
    font-size: 140px;
    line-height: 140px;
}
.comp-persons_info {
    margin-left: 140px;
    padding: 0 30px;
}
.comp-persons_info {
    height: 140px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
}
.comp-persons_fio {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
}
.comp-persons_work, .comp-persons_phone {
    line-height: 26px;
}
.match-header {
    margin-top: -55px;
    position: relative;
}
.match-bg {
    background: linear-gradient(to top, rgba(37, 47, 78, 0.8), #252F4E);
    position: relative;
    z-index: 2;
}
.match-header_content {
    padding-top: 50px;
    position: relative;
    box-sizing: border-box;
    min-height: 480px;
}
.match-bg_image {
    background-image: url('../img/match_bg.jpg');
    background-position: center bottom;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    z-index: 1;
}
.match-bg_image_pad {
    top: 30px;
}
.match-header_info {
    width: 320px;
    margin: 0 auto;
    font-size: 18px;
}
.match-header_count {
    font-size: 0;
    padding: 30px 0 40px 0;
}
.match-header_digit {
    display: inline-block;
    font-size: 72px;
    height: 80px;
    width: 140px;
    text-align: center;
}
.match-header_digitPadding {
    display: inline-block;
    width: 40px;
}
.match-header_logo {
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
}
.match-header_logo .fafr-noPhoto {
    line-height: 200px;
    font-size: 200px;
}
.match-header_team {
    position: absolute;
    top: 60px;
}
.match-header_team_left {
    left: 0;
}
.match-header_team_right {
    right: 0;
}
.match-header_teamCity {
    font-size: 16px;
    line-height: 30px;
}
.match-header_teamName {
    font-size: 28px;
    line-height: 50px;
}
.match-header {
    margin-bottom: 60px;
}
.match-video_admin {
    width: 680px;
    margin: 0 auto;
}
.match-videoField {
    width: 520px;
}

.match-refAdmin {
    height: 30px;
    line-height: 30px;
}
.match-admin_link {
    padding-right: 10px;
}
.match-navig {
    margin: 60px 0 40px 0;
    border-bottom: 1px solid #eaeaea;
    text-align: center;
}
.match-navig_link {
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    color: #15222B;
    text-decoration: none;
}
.match-navig_link_selected {
    font-weight: bold;
    color: #ED3237;
}
/*TODO protocol*/
.protocol-txtField {
    width: 300px;
}
.protocol-incident {
    width: 100%;
    height: 200px;
}
.protocol-view {
    width: 100%;
    border-collapse: collapse;
}
.protocol-view td {
    padding: 5px 0;
    border-bottom: 1px solid #dddddd;
}

.protocol-view_label {
    white-space: nowrap;
    padding-right: 10px;
}

.comp-live {
    overflow: hidden;
}
.comp-live_item {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 40px;
}
.comp-live_itemContent {
    width: 450px;
    margin: 0 auto;
    position: relative;
}
.live-date_list {
    top: 40px;
}
.comp-live_title {
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
}

.comp-point {
    table-layout: fixed;
    width: 100%;
    font-size: inherit;
}
.comp-point_abbr {
    font-size: 18px;
    font-weight: bold;
}
.comp-point_count {
    font-size: 18px;
    font-weight: bold;
}
.comp-point_digit {
    display: inline-block;
    width: 40px;
    height: 34px;
    line-height: 34px;
}
.comp-point_quarter {
    font-size: 12px;
}
.comp-point_action {
    height: 34px;
    line-height: 34px;
    padding: 0 7px;
    box-sizing: border-box;
    background-color: rgba(77, 104, 174, 0.1);
}
.comp-point_action_left {
    border-right: 3px solid #030E2C;
}
.comp-point_action_right {
    border-left: 3px solid #4D68AE;
}
/*составы на матч*/
.match-table {
    width: 100%;
}
.match-roster_logoWrapper {
    position: relative;
}
.match-roster_item {
    padding: 10px;
    position: relative;
    z-index:2;
}
.match-roster_item_zebra {
    background-color: rgba(37, 47, 78, 0.1);
}
.match-tableLeft {
    padding-right: 20px;
}

.match-tableRight {
    padding-left: 20px;
}
.match-roster_pos {
    font-weight: bold;
}
.match-roster_playerInfo_face {
    font-size: 12px;
}
.match-roster_photo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: left;
    overflow: hidden;
}
.match-roster_text {
    margin-left: 50px;
}
.match-roster_photo .fafr-noPhoto {
    line-height: 40px;
    font-size: 40px;
}
.match-roster_playerInfo {
    line-height: 20px;
}
.match-roster_logo {
    position: absolute;
    top: 63px;
    width: 320px;
    height: 320px;
    opacity: 0.1;
    z-index: 1;
    left: 50%;
    margin-left: -160px;
}

.listview-item {
    padding: 5px 0;
    border-top: 1px solid #cccccc;
    margin-bottom: 2px;
}